<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sudoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E271B1C21E6DFDDD00A020C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E271B1D61E6DFDE600A020C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E271B1E11E6DFDE700A020C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
